{% extends 'main\layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, sapiente cumque natus velit impedit aliquam tempore obcaecati soluta debitis quod aperiam, nihil culpa consectetur porro totam nobis, mollitia aspernatur excepturi.</p>
        <button class='btn btn-warning'>На страницу про нас</button>
    </div>
{% endblock %}
